---
import { Icon } from 'astro-icon/components';
import type { Note } from '~/types';

const {
  icon,
  content = await Astro.slots.render('content'),
} = Astro.props as Note;
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    {icon &&  <Icon name={icon} class="w-5 h-5 inline-block align-text-bottom" /> }
    <slot name="content">
      {content && <Fragment set:html={content} />}
    </slot>
  </div>
</section>