---
import Layout from '~/layouts/PageLayout.astro';
import Contact from '~/components/widgets/Contact.astro';
import Note from '~/components/widgets/Note.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Contacto',
};
---

<Layout metadata={metadata}>

  <Contact
    title="Contacta con la organización"
    subtitle="Para respuestas más rápidas, explora la sección de <a href='/#faq' class='underline'>preguntas frecuentes</a>."
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Nombre',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Mensaje',
    }}
    button="Enviar"
    description="Normalmente respondemos en menos de 24h."
  />

  <Note icon="tabler:shield-heart">
    <Fragment slot="content">
      Puedes leer la <a href={getPermalink("/privacidad")} class="underline">política de privacidad</a> y el <a href={getPermalink("/codigo-conducta")} class="underline">código de conducta</a>.
    </Fragment>
  </Note>
</Layout>
