---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Brands from '~/components/widgets/Brands.astro';
import Steps from '~/components/widgets/Steps.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Note from '~/components/widgets/Note.astro';
import { getPermalink } from '~/utils/permalinks';

import proximamenteImage from '~/assets/images/proximamente.jpeg';
import logoFIC from '~/assets/images/fic.svg';
import logoUDC from '~/assets/images/udc.svg';
import logoAmtega from '~/assets/images/amtega.svg';
import logoXunta from '~/assets/images/xunta.svg';
import aitorImage from '~/assets/images/aitor.jpeg';
import paulaImage from '~/assets/images/paula.jpeg';
import jorgeImage from '~/assets/images/jorge.jpeg';

---

<Layout>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Regístrate',
        href: getPermalink('/registro'),
        icon: 'tabler:user-scan',
      },
      { text: 'Saber más', href: '#que-es' },
    ]}
    image={{ src: '~/assets/images/hero.svg', alt: 'HackUDC' }}
  >
    <Fragment slot="title">
      <span class="hidden sm:inline">La segunda edición del</span><span class="inline sm:hidden">El</span> mayor <span class="text-accent dark:text-white highlight">hackathon estudiantil</span> de Galicia
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">Demuestra tu habilidad, conecta con empresas y desafía tus límites. </span>Habrá más de 2.000 € en premios y, si estudias en la UDC, puedes llevarte 3 ECTS.
    </Fragment>
  </Hero>
  
  <!-- Features Widget *************** -->

  <Features
    id="que-es"
    tagline="Qué es"
    title="¿Qué es HackUDC?"
    subtitle="HackUDC 2024 es la segunda edición del mayor hackathon de Galicia, en donde más de 130 estudiantes se juntan para desarrollar proyectos."
    items={[
      {
        title: '16, 17 y 18 de febrero',
        description:
          'El evento tendrá lugar durante tres días, empezando el viernes y terminando el domingo con la entrega de premios.',
        icon: 'tabler:calendar',
      },
      {
        title: 'Facultad de Informática, UDC',
        description:
          'El evento tendrá lugar en la Facultad de Informática de la UDC, en el Campus de Elviña.',
        icon: 'tabler:location',
      },
      {
        title: 'Software libre',
        description:
          'El único requisito para los proyectos es que tienen que ser publicados bajo una licencia de software libre.',
        icon: 'tabler:license',
      },
      {
        title: 'Retos y 2000 € en premios',
        description:
          'Durante el evento, las empresas patrocinadoras ORO propondrán retos para los proyectos. Cada reto tendrá un premio.',
        icon: 'tabler:rocket',
      },
      {
        title: '¡Todo incluido!',
        description:
          "Los participantes tendrán todo lo que necesiten durante el evento. Comidas, duchas, snacks... Totalmente gratis.",
        icon: 'tabler:coin',
      },
      {
        title: 'Organizado por GPUL',
        description:
          '<a href="https://gpul.org" class="underline">GPUL</a> es una asociación universitaria vinculada a la UDC destinada a fomentar el software libre y la cultura libre.',
        icon: 'tabler:bulb',
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features>

<Brands
title="Patrocinadores & Colaboradores"
subtitle="El evento no habría sido posible sin la ayuda de las siguientes empresas y entidades:"
oro={[
  {
    src: proximamenteImage,
    alt: 'Próximamente',

  },
  {
    src: proximamenteImage,
    alt: 'Próximamente',
  },
  {
    src: proximamenteImage,
    alt: 'Próximamente',
  },
  {
    src: proximamenteImage,
    alt: 'Próximamente',
  },
]}
plata={[
  {
    src: proximamenteImage,
    alt: 'Próximamente',
    width: 120,
    height: 120,
  },
  {
    src: proximamenteImage,
    alt: 'Próximamente',
    width: 120,
    height: 120,
  },
  {
    src: proximamenteImage,
    alt: 'Próximamente',
    width: 120,
    height: 120,
  },
  {
    src: proximamenteImage,
    alt: 'Próximamente',
    width: 120,
    height: 120,
  },
]}
bronce={[
  {
    src: proximamenteImage,
    alt: 'Próximamente',
    width: 90,
    height: 90,
  },
  {
    src: proximamenteImage,
    alt: 'Próximamente',
    width: 90,
    height: 90,
  },
  {
    src: proximamenteImage,
    alt: 'Próximamente',
    width: 90,
    height: 90,
  },
]}
colaboradores={[
  {
    src: logoFIC,
    alt: 'Facultad de Informática',
    href: 'https://fic.udc.es',
    width: 60,
    height: 80,
  },
  {
    src: logoUDC,
    alt: 'Universidade da Coruña',
    href: 'https://udc.gal',
    width: 250,
  },
  {
    src: logoAmtega,
    alt: 'Axencia para a modernización tecnolóxia de galicia',
    href: 'https://amtega.xunta.gal/gl',
  },
  {
    src: logoXunta,
    alt: 'Xunta de galicia',
    href: 'https://xunta.gal/',
  },
]}
/>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Participantes', amount: '+130' },
      { title: 'Premios', amount: '2.000 €' },
      { title: 'Empresas', amount: '10' },
      { title: 'Proyectos', amount: '~35' },
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Esto es un hackathon:"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">El equipo</span>',
        description:
          "Forma tu equipo, donde cada miembro aporte habilidades únicas para afrontar los desafíos del hackathon.",
        icon: 'tabler:users',
      },
      {
        title: 'Paso 2: <span class="font-medium">La idea</em>',
        description:
          "Inspírate en los retos propuestos por los patrocinadores y la organización para idear una solución original.",
        icon: 'tabler:bulb',
      },
      {
        title: 'Paso 3: <span class="font-medium">Programar</span>',
        description:
          'Es hora de dar vida a tu idea: utiliza tus habilidades de programación y herramientas de desarrollo para construir un prototipo funcional.',
        icon: 'tabler:code',
      },
      {
        title: 'Paso 4: <span class="font-medium">La entrega</span>',
        description:
          'Incluye documentación y una demostración convincente para mostrar el potencial y la aplicabilidad de tu proyecto.',
        icon: 'tabler:cube-send',
      },
      {
        title: '¡Los premios!',
        icon: 'tabler:trophy',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Hackathon',
    }}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
  </Steps>

  <Testimonials
  title="Lo que cuentan de HackUDC"
  subtitle="Participantes que encontraron su camino profesional y empresas que encontraron el perfil que buscaban."
  testimonials={[
    {
      testimonial: 'Mi experiencia fue inmejorable. La organización pensó en todo para que los participantes estuviéramos siempre a gusto. En mi caso no conocía a ningún otro participante, así que también me ayudaron a encontrar un equipo. En resumen: aprender, conocer gente nueva y pasarlo muy bien.',
      name: 'Aitor Couñago',
      job: 'Participante → BizAway',
      image: {
        src: aitorImage,
        alt: 'Aitor Couñago Imagen',
      },
    },
    {
      testimonial: 'Nuestra experiencia como patrocinadores en el HackUDC ha sido de lo más positiva. Acompañamos a los participantes durante el desarrollo de los diferentes retos y visualizamos los resultados de manera conjunta. Nos encantó ver la ilusión puesta en los retos y también el interés en conocer nuestra organización, ¡sin duda repetimos!',
      name: 'Paula Domínguez',
      job: 'Talent Manager @ Gradiant',
      image: {
        src: paulaImage,
        alt: 'Paula Domínguez Imagen',
      },
    },
    {
      testimonial: 'Participar en la HackUDC fue una experiencia increíble. Este evento no solo mejoró mis habilidades técnicas, sino que también me abrió puertas profesionales inesperadas, enriqueciendo tanto mi crecimiento personal como profesional. Además, conocí a grandes personas que comparten mi misma pasión por el software libre.',
      name: 'Jorge Hermo',
      job: 'Participante → Inditex',
      image: {
        src: jorgeImage,
        alt: 'Jorge Hermo Imagen',
      },
    },
  ]}
/>

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title="Preguntas frecuentes"
    subtitle="Es muy probable que si tienes alguna duda esté aquí contestada. Si crees que nos dejamos algo, ponte en contacto con nosotros."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Cuándo es HackUDC?',
        description:
          "La ceremonia de apertura será el viernes 16 de febrero sobre las seis de la tarde. El evento terminará el domingo al mediodía, con la ceremonia de entrega de premios.",
      },
      {
        title: '¿Dónde es HackUDC?',
        description:
          'El evento se realizará en la Facultad de Informática de la UDC. En el Campus de Elviña, en A Coruña.',
      },
      {
        title: '¿Qué incluye HackUDC?',
        description:
          "HackUDC es completamente gratuito para los hackers. Se proporciona WiFi y espacios de trabajo. Desayunos, comidas, cenas y snacks serán totalmente gratuitos durante el evento. Recuerda indicar tus restricciones alimentarias a la hora de registrarte.",
      },
      {
        title: "Si no soy de A Coruña, ¿dónde puedo dormir?",
        description:
          "Si eres de fuera de Coruña y no tienes dónde dormir, indícalo en el formulario de registro y te buscamos un lugar.",
      },
      {
        title: '¿Qué puedo crear?',
        description:
          "Se puede crear cualquier proyecto relacionado con la tecnología. No tenemos restricciones sobre el tema. El único requisito es que el proyecto realizado durante el hackathon sea publicado bajo una licencia libre. Algunos ejemplos pueden ser aplicaciones web, aplicaciones móviles, proyectos de hardware, juegos, APIs...",
      },
      {
        title: '¿Qué tengo que llevar?',
        description:
          "Para la admisión, será necesario acreditar la identidad con el DNI o similar. Otros cosas comunes para traer al hackathon son: portátil y cargador, ropa cómoda y ¡ganas de aprender!",
      },
      {
        title: '¿Quién puede participar?',
        description:
          "Estudiantes mayores de edad. Cualquier estudiante, ya sea de universidad, formación profesional, bachilerato u otros es bienvenido.",
      },
      {
        title: '¿Cómo inscribirse?',
        description:
          "Para inscribirse tienes que mandar tu solicitud en el formulario de registro que puedes encontrar en la esquina superior derecha de esta página. Te enviaremos una confirmación cuando aceptemos tu solicitud.",
      },
      {
        title: '¿Y si no soy estudiante?',
        description:
          "Puedes apuntarte como mentor para disfrutar del evento y echar una mano a los participantes con sus proyectos, si quieres ser mentor, contáctanos por correo.",
      },
      {
        title: '¿Que pasa si no tengo experiencia con código?',
        description:
          "Aquí vienes a aprender, así que no se requiere experiencia previa en programación. Además, hay muchas otras áreas en las que puedes contribuir, como diseño, testing, generación de ideas, y mucho más.",
      },
      {
        title: '¿Que pasa si no tengo equipo?',
        description:
          "Parte de la diversión de un hackathon es conocer gente nueva. Tendremos una actividad de team building al comienzo del evento para que todos se reúnan y formen equipos.",
      },
      {
        title: '¿Cuál es el tamaño máximo del equipo?',
        description:
          "Los equipos pueden ser de hasta 4 hackers.",
      },
      {
        title: '¿Puedo cambiar de equipo durante el evento?',
        description:
          "Sí, de hecho lo único que cuenta es la entrega final, así que asegúrate de entregar el proyecto correctamente. Las instrucciones de entrega se darán durante el evento.",
      },
      {
        title: '¿Cómo solicitar los 3 créditos ECTS?',
        description:
          "Si eres estudiante de la UDC, participando en HackUDC puedes reconocer 3 créditos ECTS. Durante el evento se hará un control de asistencia a los participantes. El alumnado de la UDC interesado deberá solicitar el reconocimento de los créditos ante la <a href='https://www.udc.es/es/goberno/equipo_reitoral/vepem/' class='underline'>VEPEM</a>. Antes, durante y después del evento daremos información más detallada.",
      },
      {
        title: '¿Tienes alguna otra duda?',
        description:
          "Para cualquier otra duda, puedes escribirnos a través del formulario de contacto, redes sociales o en hackudc@gpul.org",
      },
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</FAQs>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Registrarse',
        href: getPermalink('/registro'),
        icon: 'tabler:user-scan',
      },
    ]}
  >
    <Fragment slot="title">
      ¿A qué esperas? Regístrate.
    </Fragment>

    <Fragment slot="subtitle">
      No pierdas más tiempo y cubre el formulario de registro, ¡hay plazas limitadas!
    </Fragment>
  </CallToAction>


  <Note icon="tabler:shield-heart">
    <Fragment slot="content">
      Puedes leer la <a href={getPermalink("/privacidad")} class="underline">política de privacidad</a> y el <a href={getPermalink("/codigo-conducta")} class="underline">código de conducta</a>.
    </Fragment>
  </Note>
</Layout>
