---
import { Icon } from 'astro-icon/components';
import Headline from '~/components/blog/Headline.astro';
import Note from '~/components/widgets/Note.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Registro',
};
---

<Layout metadata={metadata}>
  <div class="mt-12" />

  <Headline
    title="<h3 class='text-4xl font-bold'>El formulario de registro aún no está abierto</h3>"
    subtitle="Puedes dejarnos tu email y te avisaremos cuando esté disponible."
  />

  <div class="flex flex-col mb-10 max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow px-4 py-2 sm:px-6 lg:px-8 lg:py-4 w-full">
    <div class="mb-2">
      <form id="form">
        <label for="email" class="block text-sm font-medium my-1 mt-4">
          Email <small class="text-red-500 pl-1">*</small>
        </label>
        <input
          type="email"
          name="email"
          id="email"
          autocomplete="off"
          placeholder="torvalds@osdl.org"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
        <div class="mt-5">
          <button class="btn-primary w-full" id="submit">
            Avísame <Icon name="tabler:bell-ringing" class="w-6 h-6 pl-2" />
          </button>
        </div>
        <div class="mt-3 text-center">
          <p class="text-sm text-gray-600 dark:text-gray-400">Al enviar, aceptas la <a href={getPermalink('/privacidad')} class="underline">política de privacidad</a>.</p>
        </div>
      </form>
      <div id="success" class="hidden h-48 flex-col text-center justify-around">
        <div class="flex justify-center">
          <Icon name="tabler:circle-check" class="w-24 h-24 text-green-800" />
        </div>
        <p class="text-xl">El formulario se ha enviado con éxito.</p>
      </div>
      <div id="error" class="hidden h-48 flex-col text-center justify-around">
        <div class="flex justify-center">
          <Icon name="tabler:circle-x" class="w-24 h-24 text-red-800" />
        </div>
        <p class="text-xl">Ha habido un error, inténtalo de nuevo mas tarde o contáctanos por correo directamente.</p>
      </div>
    </div>
  </div>


  <Steps
    title="Datos que puedes ir preparando:"
    items={[
      {
        title: 'Justificación de la condición de estudiante',
        description:
          "Para participar, necesitarás verificar tu condición de estudiante. Esto se puede hacer enviando una copia de tu matrícula, tarjeta universitaria escaneada, o cualquier otro documento oficial que lo acredite. Recuerda, la participación está abierta a estudiantes de todos los niveles educativos, no solo universitarios.",
        icon: 'tabler:school',
      },
      {
        title: 'Currículum vitae',
        description:
          "Para tu inscripción, requerimos tu CV en formato PDF. Como una opción adicional, si lo deseas, podemos compartirlo con los patrocinadores del evento. No te preocupes si tienes poca experiencia; es normal al principio. Considera esto como una oportunidad para elaborar y mejorar tu primer CV.",
        icon: 'tabler:file-cv',
      },
      {
        title: 'Motivación para participar en HackUDC',
        description:
          'Dado que las plazas son limitadas, si recibimos más solicitudes de las que podemos aceptar, seleccionaremos a los participantes en base a las razones que nos proporcionen para querer participar. Cuéntanos por qué quieres ser parte de HackUDC y qué te motiva a unirte.',
        icon: 'tabler:code',
      },
    ]}
  />

  <Note icon="tabler:shield-heart">
    <Fragment slot="content">
      Puedes leer la <a href={getPermalink("/privacidad")} class="underline">política de privacidad</a> y el <a href={getPermalink("/codigo-conducta")} class="underline">código de conducta</a>.
    </Fragment>
  </Note>
</Layout>


<script>
  const form = document.getElementById("form") as HTMLFormElement;
  const successDiv = document.getElementById("success") as HTMLDivElement;
  const errorDiv = document.getElementById("error") as HTMLDivElement;
  const submitBtn = document.getElementById("submit") as HTMLButtonElement;
  const emailInput = document.getElementById('email') as HTMLInputElement;

  async function postData(url = '', data = {}) {
    const response = await fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    });

    if (response.status !== 200) {
      throw new Error('Status not 200');
    } 

    return response.json();
  }

  submitBtn?.addEventListener("click", async (event) => {
    event.preventDefault();

    // Remove existing red borders
    [emailInput].forEach(input => {
      input?.classList.remove('border-red-500');
    });

    // Validate fields and add red borders to empty ones
    let isValid = true;

    // Validate email
    const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    if (!emailRegex.test(emailInput?.value.trim())) {
      emailInput.classList.add('border-red-500');
      isValid = false;
    }

    if (!isValid) {
      return;
    }

    // Disable the button and show loading state
    submitBtn.disabled = true;
    submitBtn.textContent = 'Enviando...';

    // Your form data
    const data = {
      email: emailInput.value,
    };

    // Send POST request
    try {
      await postData('https://n8n.jorgeteixeira.es/webhook/hackudc-waitlist-registro', data);
      // Handle success
      submitBtn.textContent = 'Enviado';
      form.classList.add("hidden");
      successDiv.classList.toggle("hidden");
      successDiv.classList.add("flex");
    } catch (error) {
      // Handle error (optional)
      submitBtn.textContent = 'Error';
      form.classList.add("hidden");
      errorDiv.classList.toggle("hidden");
      errorDiv.classList.add("flex");
    }
  });
</script>
