---
import { Icon } from 'astro-icon/components';
import Headline from '~/components/blog/Headline.astro';
import Note from '~/components/widgets/Note.astro';
import Steps from '~/components/widgets/Steps.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Registro',
};
---

<Layout metadata={metadata}>
  <div class="mt-12" />

  <Headline
    title="<h3 class='text-4xl font-bold'>Regístrate ya</h3>"
    subtitle="Las plazas son limitadas, te avisaremos cuando seas aceptado en el hackathon."
  />

  <div class="max-w-xl mx-auto mb-5 -mt-5 text-center p-5 rounded-md bg-orange-100 shadow-sm">
    <p>Actualmente, la lista de participantes está llena, pero aún puedes registrarte para entrar en lista de espera. Si algún participante cancela su asistencia, seleccionaremos personas de la lista de espera.</p>
  </div>

  <div class="max-w-xl mx-auto mb-10 text-center p-5 rounded-md bg-blue-100 shadow-sm">
    <p>Si tus compañeros de equipo ya están confirmados y solo tú faltas por registrarte, por favor, regístrate y notifícanos por correo electrónico a <a href="mailto:hackudc@gpul.org" class="text-blue-700 underline">hackudc@gpul.org</a> o a través del <a href="/contacto" class="text-blue-700 underline">formulario de contacto</a>.</p>
  </div>

  <div class="flex flex-col mb-10 max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow px-4 py-2 sm:px-6 lg:px-8 lg:py-4 w-full">
    <div class="mb-2">
      <form id="form">
        <label for="name" class="block text-sm font-medium my-1 mt-4 relative">
          Nombre completo <small class="text-red-500 pl-1">*</small>
        </label>
        <input
          type="text"
          name="name"
          id="name"
          autocomplete="off"
          placeholder="Linus Torvalds"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
        <label for="email" class="block text-sm font-medium my-1 mt-4">
          Email <small class="text-red-500 pl-1">*</small>
        </label>
        <input
          type="email"
          name="email"
          id="email"
          autocomplete="off"
          placeholder="torvalds@osdl.org"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
        <label for="phone" class="block text-sm font-medium my-1 mt-4">
          Número de teléfono <small class="text-red-500 pl-1">*</small>
          <span class="ml-2 text-gray-500 hover:text-gray-700 cursor-help group relative text-small">
            <Icon name="tabler:help" class="w-4 h-4 mb-1 inline" />
            <span class="absolute w-64 bg-gray-800 text-white text-xs rounded-lg py-2 px-3 -mt-12 ml-16 hidden group-hover:block">
              Contacto en caso de urgencia.
            </span>
          </span>
        </label>
        <input
          type="text"
          name="phone"
          id="phone"
          autocomplete="off"
          placeholder="881 011 964"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
        <label for="age" class="block text-sm font-medium my-1 mt-4">
          Edad <small class="text-red-500 pl-1">*</small>
        </label>
        <input
          type="number"
          name="age"
          id="age"
          autocomplete="off"
          placeholder="53"
          min="18"
          step="1"
          max="50"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
        <label for="studyLevel" class="block text-sm font-medium my-1 mt-4">
          Nivel de estudios en curso <small class="text-red-500 pl-1">*</small>
        </label>
        <select
          id="studyLevel" 
          name="studyLevel"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900">
          <option value=""></option>
          <option value="university">Universitarios</option>
          <option value="fp">Formación profesional</option>
          <option value="secondary">Secundaria</option>
          <option value="other">Otros</option>
        </select>
        <label for="studyName" class="block text-sm font-medium my-1 mt-4 relative">
          Nombre de los estudios <small class="text-red-500 pl-1">*</small>
        </label>
        <input
          type="text"
          name="studyName"
          id="studyName"
          autocomplete="off"
          placeholder="Grado de Ciencia e Ingeniería de Datos"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
        <label for="studyInstitution" class="block text-sm font-medium my-1 mt-4 relative">
          Institución de los estudios <small class="text-red-500 pl-1">*</small>
        </label>
        <input
          type="text"
          name="studyInstitution"
          id="studyInstitution"
          autocomplete="off"
          placeholder="UDC"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
        <label for="year" class="block text-sm font-medium my-1 mt-4">
          Curso <small class="text-red-500 pl-1">*</small>
        </label>
        <select
          id="year" 
          name="year"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900">
          <option value=""></option>
          <option value="first">1º</option>
          <option value="second">2º</option>
          <option value="third">3º</option>
          <option value="fourth">4º</option>
          <option value="notapplicable">No aplica</option>
        </select>
        <label for="city" class="block text-sm font-medium my-1 mt-4 relative">
          Ciudad de residencia <small class="text-red-500 pl-1">*</small>
        </label>
        <input
          type="text"
          name="city"
          id="city"
          autocomplete="off"
          placeholder="A Coruña"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
        <label for="genre" class="block text-sm font-medium my-1 mt-4">
          Género <small class="text-red-500 pl-1">*</small>
          <span class="ml-2 text-gray-500 hover:text-gray-700 cursor-help group relative text-small">
            <Icon name="tabler:help" class="w-4 h-4 mb-1 inline" />
            <span class="absolute w-64 bg-gray-800 text-white text-xs rounded-lg py-2 px-3 -mt-12 ml-16 hidden group-hover:block">
              Requerido por la Xunta a nivel estadístico.
            </span>
          </span>
        </label>
        <select
          id="genre" 
          name="genre"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900">
          <option value=""></option>
          <option value="man">Hombre</option>
          <option value="woman">Mujer</option>
          <option value="nonbinary">No binario</option>
          <option value="unspecified">Prefiero no decirlo</option>
          <option value="other">Otro</option>
        </select>
        <label for="food" class="block text-sm font-medium my-1 mt-4">
          Restricciones alimentarias <small class="text-red-500 pl-1">*</small>
          <span class="ml-2 text-gray-500 hover:text-gray-700 cursor-help group relative text-small">
            <Icon name="tabler:help" class="w-4 h-4 mb-1 inline" />
            <span class="absolute w-64 bg-gray-800 text-white text-xs rounded-lg py-2 px-3 -mt-12 ml-16 hidden group-hover:block">
              En caso de indicar "Otras", contactaremos contigo de manera individual para especificarlas.
            </span>
          </span>
        </label>
        <select
          id="food" 
          name="food"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900">
          <option value=""></option>
          <option value="nothing">Sin restricciones</option>
          <option value="vegetarian">Vegetariano</option>
          <option value="vegan">Vegano</option>
          <option value="celiac">Sin gluten</option>
          <option value="other">Otras</option>
        </select>
        <label for="ects" class="block text-sm font-medium my-1 mt-4">
          Solicitar créditos ECTS <small class="text-red-500 pl-1">*</small>
          <span class="ml-2 text-gray-500 hover:text-gray-700 cursor-help group relative text-small">
            <Icon name="tabler:help" class="w-4 h-4 mb-1 inline" />
            <span class="absolute w-64 bg-gray-800 text-white text-xs rounded-lg py-2 px-3 -mt-12 ml-16 hidden group-hover:block">
              Estudiantes de la UDC podrán solicitar hasta 3 ECTS.
            </span>
          </span>
        </label>
        <select
          id="ects" 
          name="ects"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900">
          <option value=""></option>
          <option value="yes">Si, deseo solicitar los 3 ECTS.</option>
          <option value="no">No.</option>
        </select>
        <label for="sleep" class="block text-sm font-medium my-1 mt-4">
          ¿Necesitas un lugar para dormir? <small class="text-red-500 pl-1">*</small>
          <span class="ml-2 text-gray-500 hover:text-gray-700 cursor-help group relative text-small">
            <Icon name="tabler:help" class="w-4 h-4 mb-1 inline" />
            <span class="absolute w-64 bg-gray-800 text-white text-xs rounded-lg py-2 px-3 -mt-12 ml-16 hidden group-hover:block">
              Durante el evento, puede que necesites descansar. Indica si tienes o no un sitio para dormir en Coruña.
            </span>
          </span>
        </label>
        <select
          id="sleep" 
          name="sleep"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900">
          <option value=""></option>
          <option value="yes">Si, necesito donde dormir.</option>
          <option value="no">No, ya tengo donde dormir en Coruña.</option>
        </select>
        <label for="tshirt" class="block text-sm font-medium my-1 mt-4">
          Talla de camiseta <small class="text-red-500 pl-1">*</small>
        </label>
        <select
          id="tshirt" 
          name="tshirt"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900">
          <option value=""></option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          <option value="XXL">XXL</option>
        </select>
        <label for="cv" class="block text-sm font-medium my-1 mt-4">
          Currículum vitae (PDF) <small class="text-red-500 pl-1">*</small>
          <span class="ml-2 text-gray-500 hover:text-gray-700 cursor-help group relative text-small">
            <Icon name="tabler:help" class="w-4 h-4 mb-1 inline" />
            <span class="absolute w-64 bg-gray-800 text-white text-xs rounded-lg py-2 px-3 -mt-12 ml-16 hidden group-hover:block">
              En caso de tener más solicitudes que plazas, se utilizará para balancear el nivel de los participantes.
            </span>
          </span>
        </label>
        <input 
          type="file" 
          id="cv" 
          name="cv"
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 file:border-none file:text-white file:bg-gray-600 file:py-1 file:px-2 file:rounded-lg"
        />
        <div class="block my-4">
          <label for="sharecv" class="flex items-center">
            <input 
              type="checkbox" 
              id="sharecv" 
              name="sharecv"
              checked
              class="text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
            />
            <span class="ml-2 text-sm font-medium text-gray-700">Quiero compartir el CV con las empresas patrocinadoras.</span>
          </label>
        </div>
        <hr>
        <label for="why" class="block text-sm font-medium my-1 mt-4">
          ¿Por qué quieres participar en HackUDC? <small class="text-red-500 pl-1">*</small>
        </label>
        <textarea
          name="why"
          id="why"
          rows="4"
          placeholder="Escribe aquí tus motivos..."
          class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        />
        <div class="block my-4">
          <label for="conduct" class="flex items-center">
            <input 
              type="checkbox" 
              id="conduct" 
              name="conduct"
              class="text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
            />
            <span id="conductText"  class="ml-2 text-sm font-medium text-gray-700">Acepto el <a href={getPermalink('/codigo-conducta')} class="underline">código de conducta</a>.</span>
          </label>
        </div>
        <div class="block my-4">
          <label for="studyCheck" class="flex items-center">
            <input 
              type="checkbox" 
              id="studyCheck" 
              name="studyCheck"
              class="text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
            />
            <span id="studyCheckText" class="ml-2 text-sm font-medium text-gray-700">Acepto que se me podrá solicitar justificar la condición de estudiante antes del inicio del evento.</span>
          </label>
        </div>
        <div class="mt-5">
          <button class="btn-primary w-full" id="submit" type="submit">
            Registrarme <Icon name="tabler:user-plus" class="w-6 h-6 pl-2" />
          </button>
        </div>
        <div class="mt-3 text-center">
          <p class="text-sm text-gray-600 dark:text-gray-400">Al enviar, aceptas la <a href={getPermalink('/privacidad')} class="underline">política de privacidad</a>.</p>
        </div>
      </form>
      <div id="success" class="hidden h-48 flex-col text-center justify-around">
        <div class="flex justify-center">
          <Icon name="tabler:circle-check" class="w-24 h-24 text-green-800" />
        </div>
        <p class="text-xl">El formulario se ha enviado con éxito.</p>
      </div>
      <div id="error" class="hidden h-48 flex-col text-center justify-around">
        <div class="flex justify-center">
          <Icon name="tabler:circle-x" class="w-24 h-24 text-red-800" />
        </div>
        <p class="text-xl">Ha habido un error, inténtalo de nuevo mas tarde o contáctanos por correo.</p>
      </div>
    </div>
  </div>


  <Steps
    title="Próximos pasos:"
    items={[
      {
        title: 'Análisis de tu solicitud',
        description:
          "Una vez que hayas enviado tu formulario, nuestro equipo revisará detenidamente tu solicitud. Analizaremos tus datos, experiencia y motivaciones para participar en HackUDC. Este proceso puede tardar unos días, así que te pedimos paciencia. Asegúrate de haber completado todos los campos correctamente para evitar retrasos.",
        icon: 'tabler:analyze',
      },
      {
        title: 'Confirmación de aceptación',
        description:
          "Después de revisar tu solicitud, te informaremos por correo electrónico si has sido seleccionado para participar en HackUDC. Si es así, recibirás una confirmación oficial con los pasos a seguir. Te recomendamos que revises tu correo electrónico regularmente para no perderte esta importante notificación.",
        icon: 'tabler:message',
      },
      {
        title: 'Información detallada del evento',
        description:
          'Una vez aceptado en HackUDC, te enviaremos toda la información relevante sobre el evento. Esto incluirá detalles como el programa, las actividades planificadas, y cualquier otra información logística necesaria. Mantente atento a tu correo electrónico para recibir esta información esencial y prepárate para una experiencia inolvidable.',
        icon: 'tabler:calendar-event',
      },
    ]}
  />

  <Note icon="tabler:shield-heart">
    <Fragment slot="content">
      Puedes leer la <a href={getPermalink("/privacidad")} class="underline">política de privacidad</a> y el <a href={getPermalink("/codigo-conducta")} class="underline">código de conducta</a>.
    </Fragment>
  </Note>
</Layout>


<script>
  const form = document.getElementById("form") as HTMLFormElement;
  const successDiv = document.getElementById("success") as HTMLDivElement;
  const errorDiv = document.getElementById("error") as HTMLDivElement;
  const submitBtn = document.getElementById("submit") as HTMLButtonElement;

  document.getElementById('form')?.addEventListener('submit', function(e) {
    e.preventDefault();

    let isValid = true;

    // Clear previous error indications
    this.querySelectorAll('.border-red-500').forEach(el => {
        el.classList.remove('border-red-500');
    });
    this.querySelectorAll('.text-red-500').forEach(el => {
        el.classList.remove('text-red-500');
    });

    // Validate text inputs, selects and file input
    this.querySelectorAll('input[type="text"], input[type="email"], input[type="number"], select, input[type="file"]').forEach((el: HTMLFormElement) => {
        if (!el.value) {
            el.classList.add('border-red-500');
            isValid = false;
        }
    });

    const conductCheckbox = this.querySelector('#conduct') as HTMLFormElement;
    const studyCheckbox = this.querySelector('#studyCheck') as HTMLFormElement;
    const conductCheckboxText = this.querySelector('#conductText') as HTMLElement;
    const studyCheckboxText = this.querySelector('#studyCheckText') as HTMLElement;

    // Validate checkboxes
    if (!conductCheckbox.checked) {
      conductCheckboxText.classList.add('text-red-500');
      isValid = false;
    }
    if (!studyCheckbox.checked) {
      studyCheckboxText.classList.add('text-red-500');
      isValid = false;
    }

    if (isValid) {
      const formRef = this as HTMLFormElement;
      const formData = new FormData(formRef);

      // Define the URL of your backend endpoint
      const url = 'https://n8n.jorgeteixeira.es/webhook/hackudc-registro';

      // Use fetch to send the formData
      fetch(url, {
          method: 'POST',
          body: formData  // Send the formData directly
      })
      .then(response => {
        if (response.status != 200) {
          throw Error('No se ha podido enviar.')
        }
        return response
      })
      .then(response => response.json())
      .then(data => {
          console.error('Success:', data);
          // Handle success here
          submitBtn.textContent = 'Enviado';
          form.classList.add("hidden");
          successDiv.classList.toggle("hidden");
          successDiv.classList.add("flex");
      })
      .catch((error) => {
          console.error('Error:', error);
          // Handle errors here
          submitBtn.textContent = 'Error';
          form.classList.add("hidden");
          errorDiv.classList.toggle("hidden");
          errorDiv.classList.add("flex");
      });
    }
  });
</script>
